@font-face {
  font-family: 'Dumbledore';
  src: local('Dumbledore'), url('./assets/fonts/Dumbledore/dum1.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/felt_background.png');
  background-color: #1a1a1a;
  position: fixed;
}

#app {
  margin: 0;
  padding: 0;
}